body.slides {
	background-color: rgba(0,0,0,1);
	
  > .wrapper {
    position: relative;
    margin: 0 auto;
  	overflow: hidden;

    > #slides {
      position: relative;
    	width: 100%;
    	height: 100%;
      background-color: rgb(255,255,255);

      > div {
        position: absolute;
      	display: none;
      	width: 100%;
      	height: 100%;
      	overflow: hidden;

        > footer {
        	position: absolute;
        	left: 0;
        	bottom: 0;
        	width: 100%;
        }
        
      }

      > div.current {
      	display: block;
      }

      .increment {
      	display: none;
      }
      
    }
    
  }
  
}

body.outline > .wrapper {

  > #slides > div {
  	font-size: 12pt;
  	
     > footer {
    	display: none;
    }
  }
  
  > #slides .increment {
  	display: inherit!important;
  }
  
}

#overview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);

  > div {
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    
    > ol {
      height: 50%;
      overflow: auto;
      overflow-x: hidden;
      overflow-y: scroll;
      
      > li:last-child {
        margin-bottom: 10px;
      }
      
    }

    > ol,
    > ol > li > ol {
    
      > li {
        margin: 10px 10px 0;
        list-style: decimal inside;
        
        > a {
          text-decoration: none;
        }
        
        > .preview {
          font-size: 50%;
          z-index: 1;
          
          > footer {
          	position: absolute;
          	left: 0;
          	bottom: 0;
          	width: 100%;
          }
          
        }
        
        > ol {
          display: none;
          margin-left: 10px;
          overflow: hidden;
          
          > li {
            list-style-type: lower-roman;
          }
          
        }
        
        > span {
          margin-left: 5px;
          cursor: pointer;
        }
        
      }
      
    }
    
    > .preview {
      display: block !important;
      overflow: hidden;
      z-index: 0;
    }

  }
  
}

#overview > div ol > li .preview,
#overview > div > .preview {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(255,255,255);
}
