/* Slide View */
body[data-view=slides] {
  background-color: #000000;
}
body[data-view=slides] > .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 980px;
  height: 740px;
  margin: -370px 0 0 -490px;
  overflow: hidden;
  background-color: #ffffff;
}
body[data-view=slides] > .wrapper > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  font-size: 150%;
}
body[data-view=slides] > .wrapper > #slides {
  width: 100%;
  height: 100%;
}
body[data-view=slides] > .wrapper > #slides > div {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 150%;
}
body[data-view=slides] > .wrapper > #slides > div.current {
  display: block;
}
body[data-view=slides] > .wrapper > #slides .increment {
  display: none;
}
/* Outline View */
body[data-view=outline] > .wrapper > footer {
  display: none;
}
body[data-view=outline] > .wrapper > #slides > div {
  font-size: 12pt;
}
body[data-view=outline] > .wrapper > #slides .increment {
  display: inherit!important;
}
