/* Reset */

* {
	margin: 0;
	padding: 0;
}

/* Slide View */

body[data-view=slides] { background-color: rgba(0,0,0,1); }

	body[data-view=slides] * { font: normal 24px/100% Arial; }

	body[data-view=slides] .MathJax * { font-size: inherit; }

	body[data-view=slides] > .wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 980px;
		height: 740px;
		margin: -370px 0 0 -490px;
		overflow: hidden;
		background-color: rgba(255,255,255,1);
	}

		body[data-view=slides] > .wrapper > footer {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 3;
		}

		body[data-view=slides] > .wrapper > #slides {
			width: 100%;
			height: 100%;
		}

			body[data-view=slides] > .wrapper > #slides > div {
				display: none;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

				body[data-view=slides] > .wrapper > #slides > div.current { display: block; }

			body[data-view=slides] > .wrapper > #slides .increment { display: none; }

			body[data-view=slides] > .wrapper > #slides > div sup { font-size: 75%; vertical-align: super; }

/* Outline View */

body[data-view=outline] * { font: normal 12pt/150% 'lucida grande', arial; }

body[data-view=outline] > .wrapper > footer { display: none; }

body[data-view=outline] > .wrapper > #slides .increment { display: inherit !important; }

body[data-view=outline] > .wrapper > #slides > div sup { vertical-align: baseline; }

/* General */

body > .wrapper > #slides > .references ol  { list-style: decimal inside; }